<div class="header-container">
    <div class="header-text">
        <h1>AvstroGroup</h1>
        <p>We offer car insurances at low prices!</p>
        <p>Create a new insurance for your car, or pay a current one.</p>
    </div>

    <div class="header-buttons">
        <button>Create</button>
        <button>Pay</button>
    </div>
</div>

<div class="insurance-calculator-container">

    <div class="overview-text">
        <h1>Check your car insurance price with this calculator:</h1>
    </div>

    <app-calculator></app-calculator>   
</div>

<app-avstro-vip></app-avstro-vip>