<div class="insurance-overview-container" *ngIf="!!insurance && !!currentUser">
    <div class="reg-number">
        <h2>{{insurance.regNumber}}</h2>
    </div>

    <div class="insurance-overview">
        <p>{{insurance.vehicleType}} Insurance</p>
        <p>For: {{currentUser.firstName}} {{currentUser.lastName}}</p>
    </div>

    <div class="createdOn">
        <p>Type of payment: {{insurance.paymentType}}</p>
    </div>

    <div class="details-button-container">
        <button class="details"><a [routerLink]="['/insurances', insurance._id]">Details</a></button>
    </div>

</div>
