<div class="pay-container" *ngIf="!!currentUser">
    <h1>Select an insurance to pay for:</h1>

    <div class="pay-options">
        <select (change)="selectChangeHandler($event)">
            <option *ngFor="let insurance of currentUser.insurances">{{insurance.regNumber}}</option>
        </select>
    </div>

    <div class="pay-options-result">
        <h3>Type:  insurance</h3>
        <h2>Cost: $150</h2>
    </div>

    <div class="my-money">
        <h2>Your wallet: $999</h2>
    </div>

    <button class="public">Make Payment</button>
    <button class="public"><a routerLink="/add">Add Money to Account</a></button>
</div>
