<div class="pay-container">
    <h1>Select an insurance to pay for:</h1>

    <div class="pay-options">
        <select>
            <option>Registration number 1</option>
            <option>Registration number 2</option>
            <option>Registration number 3</option>
        </select>
    </div>

    <div class="pay-options-result">
        <h3>Registration number 1</h3>
        <h3>Type: Truck insurance</h3>
        <h2>Cost: $150</h2>
    </div>

    <div class="my-money">
        <h2>Your wallet: $999</h2>
    </div>

    <button class="public">Make Payment</button>
    <button class="public"><a routerLink="/add">Add Money to Account</a></button>
</div>
