<header>
    <nav>
        <div class="home-link">
            <a routerLink="/home">AvstroGroup</a>
        </div>

        <div class="nav-links-container">
            <!--Visible to all users-->
            <div class="shared-links">
                <a class="nav-link" routerLink="/about">About</a>
            </div>
            <!--Visible to guest users-->
            <div *ngIf="!(isLoggedIn$ | async)$" class="guest-links">
                <a class="nav-link" routerLink="/user/login">Login</a>
                <a class="nav-link" routerLink="/user/register">Register</a>
            </div>
            <!--Visible to logged in users-->
            <div *ngIf="(isLoggedIn$ | async)$" class="user-links">
                <a class="nav-link" routerLink="/insurances/create">Create insurance</a>
                <a class="nav-link" href="/insurances/pay">Pay insurance</a>
                <a class="nav-link" href="/add">Add money</a>
                <a class="nav-link" routerLink="/user/profile">Profile</a>
                <a class="nav-link" href="javascript:void(0);" (click)="logoutHandler()">Logout</a>
            </div>
        </div>
        <p *ngIf="message" 
        [ngClass]="{'error-message': isMessageError, 'success-message' : !isMessageError}" 
        class="notification">{{message}}</p>
    </nav>

</header>