<header>
    <nav>
        <div class="home-link">
            <a routerLink="/home">AvstroGroup</a>
        </div>

        <div class="nav-links-container">
            <!--Visible to all users-->
            <div class="shared-links">
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Insurances</a>
            </div>
            <!--Visible to guest users-->
            <div *ngIf="!isLoggedIn" class="guest-links">
                <a class="nav-link" href="#">Login</a>
                <a class="nav-link" href="#">Register</a>
            </div>
            <!--Visible to logged in users-->
            <div *ngIf="isLoggedIn" class="user-links">
                <a class="nav-link" href="#">Profile</a>
                <a class="nav-link" href="#">Create insurance</a>
                <a class="nav-link" href="#">Pay insurance</a>
                <a class="nav-link" href="#">Logout</a>
            </div>
        </div>
    </nav>
</header>