nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    background-color: #3d3f43;
    color: antiquewhite;
    align-items: center;
    font-size: 18px;
}

.home-link a {
    text-decoration: none;
    color: beige;
    font-size: 25px;
    font-weight: bolder;
}

.nav-links-container {
    display: flex;
    gap: 15px;
}

.shared-links, .guest-links, .user-links {
    display: flex;
    gap: 15px;
}

.nav-link {
    color: beige;
    text-decoration: none;
    font-weight: 600;
}

.nav-link:hover {
    color: gray;
}
