<div class="form-container">

    <div class="form-title">
        <h1>Create Account</h1>
    </div>

    <form class="register-form">

        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName">

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName">

        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <label for="password">Password</label>
        <input type="text" name="password" id="password">

        <label for="repass">Repeat Password</label>
        <input type="text" name="repass" id="repass">

        <div class="form-buttons">
            <button class="public">Create new account</button>
        </div>
    </form>
</div>
