<div class="confirm-container">
    <h1>Confirm Creation</h1>

    <div class="car-details">
        <p>Registration number: {{insuranceDetails.regNumber}}</p>
        <p>Type of vehicle: {{insuranceDetails.vehicleType}}</p>
        <p>Engine volume: {{insuranceDetails.volume / 1000}} litres</p>
        <p>Power: {{insuranceDetails.power}}</p>
    </div>

    <div class="owner-details">
        <h2>Owner: {{insuranceDetails.owner.firstName}} {{insuranceDetails.owner.lastName}}</h2>
        <p>Owner Age: {{insuranceDetails.ownerAge}}</p>
        <p>Owner Driving experience: {{insuranceDetails.ownerExperience}}</p>
    </div>

    <div class="price">
        <h2>Cost of full contract: ${{insuranceDetails.cost}}</h2>
        <h2>{{insuranceDetails.paymentType | uppercase}} cost: ${{insuranceDetails.cost / insuranceDetails.timesLeftToPay}}</h2>
    </div>

    <div class="buttons">
        <button class="cancel" (click)="cancelInsurance()">Cancel</button>
        <button class="public" (click)="confirmInsuranceCreation(insuranceDetails)">Confirm</button>
    </div>
</div>
