<div class="confirm-container">
    <h1>Confirm Creation</h1>

    <div class="car-details">
        <p>Registration number: TA1231FD</p>
        <p>Type of vehicle: Truck</p>
        <p>Engine volume: 2 litres</p>
        <p>Vehicle date of creation: 01.02.2002</p>
    </div>

    <div class="owner-details">
        <h2>Owner: Test Testov</h2>
        <p>Age: 22</p>
        <p>Driving experience: 2 years</p>
    </div>

    <div class="price">
        <h2>Cost of full contract: $600</h2>
        <h2>Quarterly cost: $150</h2>
    </div>

    <div class="buttons">
        <button class="cancel">Go back</button>
        <button class="public">Confirm and Pay</button>
    </div>
</div>
