.form-container {
    margin: 100px 100px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 3px orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    text-align: center;
}

.review-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    text-align: center;
}

.review-form * {
    font-size: large;
}

.review-form label {
    font-size: 20px;
    font-weight: bold;
}

#review {
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    padding: 10px;
    min-width: 600px;
    min-height: 200px;
    flex: 1;
    border-style: none;
    box-shadow: 0px 0px 5px 2px gray;
}

.form-buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.public {
    border-radius: 10px 10px 10px 10px;
    background-color: orange;
    padding: 10px 50px;
    font-size: 22px;
    font-weight: bolder;
    border-style: none;
    box-shadow: 0px 0px 2px 2px gray;
    margin: 10px 20px;
}