<div *ngIf="!!currentUser">
    <div class="profile-container">
        <div class="profile-details">
            <div class="names">
                <h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
                <h2>Email: {{currentUser.email}}</h2>
            </div>
        
            <div class="balance">
                <h2>Balance: ${{currentUser.money}}</h2>
                <button><a routerLink="/insurances/create">Create New Insurance</a></button>
            </div>
        </div>
    
    
        <div class="add-money-container">
            <app-add-money></app-add-money>
        </div>
    </div>
    
    <div class="insurances-container">
        <h1>Your insured vehicles:</h1>
        <div class="insured-cards" *ngIf="!!currentUser.insurances">
            <app-insurance-overview *ngFor="let insurance of currentUser.insurances" [insurance]="insurance"></app-insurance-overview>
            <div *ngIf="currentUser.insurances.length === 0">No insurances!</div>
        </div>
    </div>
    
    <div *ngIf="!currentUser.insurances">
        No insurances!!
    </div>
    
    <div class="calculator-container">
        <h1>Insurance cost calculator:</h1>
        <app-calculator></app-calculator>
    </div>
    
    
    <div *ngIf="!currentUser.vip">
        <app-avstro-vip></app-avstro-vip>
    </div>
</div>


<div *ngIf="!currentUser">
    Loading...
</div>
