<div class="profile-container">
    <div class="profile-details">
        <div class="names">
            <h1>Test Testov</h1>
            <h2>Email: test@abv.bg</h2>
        </div>
    
        <div class="balance">
            <h2>Balance: $123</h2>
            <button><a routerLink="/insurances/create">Create New Insurance</a></button>
        </div>
    </div>


    <div class="add-money-container">
        <app-add-money></app-add-money>
    </div>
</div>

<div class="insurances-container">
    <h1>Your insured vehicles:</h1>
    <div class="insured-cards">
        <app-insurance-overview></app-insurance-overview>
        <app-insurance-overview></app-insurance-overview>
        <app-insurance-overview></app-insurance-overview>
    </div>
</div>

<div class="calculator-container">
    <h1>Insurance cost calculator:</h1>
    <app-calculator></app-calculator>
</div>


<div *ngIf="astroVip">
    <app-avstro-vip></app-avstro-vip>
</div>
