<div class="details-container">
    <h1>TA1233DD</h1>

    <div class="details-overview">
        <div class="vehicle-information">
            <h2>Vehicle:</h2>

            <p>Vehicle type: Truck</p>
            <p>Engine Volume: 2 litres</p>
            <p>Vehicle horsepower: 200hp</p>
            <p>Date of creation: 02.02.2000</p>
        </div>

        <div class="owner-information">
            <h2>Owner:</h2>
            <p>First name: Test</p>
            <p>Last name: Testov</p>
            <p>Age: 22 years old</p>
            <p>Driving experience: 3 years</p>
        </div>
    </div>

    <div class="money-details">
        <h2>Quarterly Payment Method</h2>

        <p>Paid 2 out of 4 taxes</p>
        <p>Cost of one payment: $150</p>
    </div>

    <div class="buttons-container">
        <button class="public"><a routerLink="/insurances/pay">Pay Tax</a></button>
        <button class="public"><a routerLink="/insurances/delete">Close Contract</a></button>
    </div>
</div>
