<div class="create-form-container" *ngIf="!showConfirmPage">

    <h1>Create New Insurance</h1>

    <form class="create-form" [formGroup]="createInsuranceFormGroup" (submit)="goToConfirmInsurance()">
        <label for="vehicleType">Type of Vehicle*</label>
        <input formControlName="vehicleType" type="text" name="vehicleType" id="vehicleType"
            [class.input-error]="shouldShowError('vehicleType')">

        <ng-container *ngIf="shouldShowError('vehicleType')">
            <p *ngIf="createInsuranceFormGroup.controls['vehicleType'].errors?.required" class="error">
                Vehicle type is required!
            </p>
            <p *ngIf="createInsuranceFormGroup.controls['vehicleType'].errors?.minlength" class="error">
                Vehicle type must be at least 3 characters long!
            </p>
        </ng-container>

        <label for="volume">Engine Volume*</label>
        <input formControlName="volume" type="number" name="volume" id="volume"
            [class.input-error]="shouldShowError('volume')">

        <ng-container *ngIf="shouldShowError('volume')">
            <p *ngIf="createInsuranceFormGroup.controls['volume'].errors?.required" class="error">
                Engine volume is required!
            </p>
            <p *ngIf="createInsuranceFormGroup.controls['volume'].errors?.min" class="error">
                Engine volume must be at least 1000 mililitres (1 litre)!
            </p>
        </ng-container>

        <label for="power">Horsepower*</label>
        <input formControlName="power" type="number" name="power" id="power"
            [class.input-error]="shouldShowError('power')">


        <ng-container *ngIf="shouldShowError('power')">
            <p *ngIf="createInsuranceFormGroup.controls['power'].errors?.required" class="error">
                Horsepower is required!
            </p>
            <p *ngIf="createInsuranceFormGroup.controls['power'].errors?.min" class="error">
                Horsepower must be at least 50!
            </p>
        </ng-container>

        <label for="regNumber">Registration Number*</label>
        <input formControlName="regNumber" type="text" name="regNumber" id="regNumber"
            [class.input-error]="shouldShowError('regNumber')">

        <ng-container *ngIf="shouldShowError('regNumber')">
            <p *ngIf="createInsuranceFormGroup.controls['regNumber'].errors?.required" class="error">
                Registration number is required!
            </p>
            <p *ngIf="createInsuranceFormGroup.controls['regNumber'].errors?.regMatch" class="error">
                Registration number is invalid!
            </p>
        </ng-container>

        <div formGroupName="owner" class="owner-container">
            <label for="ownerAge">Owner's age*</label>
            <input formControlName="ownerAge" type="number" name="ownerAge" id="ownerAge"
                [class.input-error]="shouldShowError('ownerAge', ownerGroup)">

            <ng-container *ngIf="shouldShowError('ownerAge', ownerGroup)">
                <p *ngIf="ownerGroup.controls['ownerAge'].errors?.required" class="error">
                    Owner's age is required!
                </p>
                <p *ngIf="ownerGroup.controls['ownerAge'].errors?.min" class="error">
                    Owner's age can't be lower than 18!
                </p>
            </ng-container>

            <label for="drivingFor">Years of experience*</label>
            <input formControlName="drivingFor" type="number" name="drivingFor" id="drivingFor"
                [class.input-error]="shouldShowError('drivingFor', ownerGroup)">

            <ng-container *ngIf="shouldShowError('drivingFor', ownerGroup)">
                <p *ngIf="ownerGroup.controls['drivingFor'].errors?.required" class="error">
                    Years of driving experience are required!
                </p>
                <p *ngIf="ownerGroup.controls['drivingFor'].errors?.canDrive" class="error">
                    Years of driving are invalid!
                </p>
            </ng-container>
        </div>

        <label for="payment">Type of payment*</label>
        <div class="create-radio">
            <input checked type="radio" name="payment" id="quarter" value="quarter" formControlName="payment">
            <label for="quarterly">Quarter</label>

            <input type="radio" name="payment" id="half" value="half" formControlName="payment">
            <label for="quarterly">Half</label>

            <input type="radio" name="payment" id="full" value="full" formControlName="payment">
            <label for="quarterly">Full</label>

            <ng-container *ngIf="shouldShowError('payment')">
                <p class="error" *ngIf="createInsuranceFormGroup.controls['payment'].errors?.required">
                    You need to select a payment method!
                </p>
            </ng-container>
        </div>

        <div class="form-buttons">
            <button type="button" class="cancel" (click)="cancelInsurance()">Clear</button>
            <button class="public">Continue</button>
        </div>
    </form>
</div>

<app-insurance-confirm *ngIf="!!showConfirmPage" [insuranceDetails]="insuranceDetails">
</app-insurance-confirm>