<div class="about-container">
    <h1>About AvstroGroup</h1>
    <p>
        AvstroGroup is created to make the creation, maintenance, and
        payment of car insurances easy.
    </p>

    <p>
        With a couple of clicks, you can create and modify your insurances!
        No need to go to an office, no need to wait there for half an hour.
    </p>

    <p>
        <i>
            This project is created as an assignment from Softuni for their Angular course!
            This website is NOT official, and it is just a demonstration of my current skills in angular!
        </i>
    </p>
</div>